/*------------   Global   ------------*/
html {
    margin: 0;
    padding: 0px;
}
body {
    font-family: 'Chelsea Market', cursive;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    justify-items: center;
}


/*------------   Header   ------------*/
.header {
    top: 0;
    right: 0;
    height: 165px; 
    width: 100%;
    padding-top: 1rem;
    background: linear-gradient(#696969, #000);
    border-bottom: 2px solid rgba(248, 248, 255, .5); 
    box-shadow: 0pt 0pt 25pt ghostwhite;
    margin-bottom: 150px;
    margin-right: 0;
}

.nav {
    display: block;
    width: 100%;
}

.nav a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.nav ul {
    display: flex;
    margin: 0;
    width: 100%;
    justify-content: space-around;
    padding: 0;
}

.nav li {
    display: inline-block;
    list-style: none;
    font-size: 1.25rem;
}

.header h1 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 5rem;
    text-shadow: 0px 5px ;
    letter-spacing: 1rem;
    text-shadow: 0pt 0pt 15pt ghostwhite;
}

.header h2 {
    padding: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    text-shadow: 1px 1px 2px black, 0 0 60px blue, 0 0 30px darkblue;;
}


/*------------   Main   ------------*/
main {
    display: flex;
    position: relative;
    margin-top: 300px;
    border-bottom: 2px solid rgba(248, 248, 255, .5); 
    box-shadow: 0pt 0pt 25pt ghostwhite;
    margin-bottom: 100px;
    margin-right: 0em
}

.section {
    margin-bottom: 120px;
}

img {
    width: 600px;
}


/*------------   Photos   ------------*/

.first {
    width: 360px;
}

.second {
    width: 400px;
}

.third {
    width: 300px;
}

.photos {
    margin-bottom: 100px;
    margin-right: 0em;
}

@media only screen and (max-width: 1090px) {
    .first {
        width: 270px;
    }
    
    .second {
        width: 300px;
    }
    
    .third {
        width: 225px;
    }
}

@media only screen and (max-width: 825px) {
    .first {
        width: 180px;
    }
    
    .second {
        width: 200px;
    }
    
    .third {
        width: 150px;
    }
}

/*------------   Testimonial   ------------*/

.testimonial {
    display: flex;
    padding-top: 50px;
    padding-bottom: 10px;
    height: 200px;
    box-shadow: 0pt 0pt 25pt ghostwhite;
    margin-bottom: 100px;
    text-align: center;
    flex-direction: column;
    margin-right: 0;
    width: 100%;
}

#testimonial {
    scroll-margin-top: 30px;
}

/*------------   Join Us   ------------*/

.join h1 {
    padding-bottom: 30px;
    text-shadow: 1px 1px 2px black, 0 0 60px blue, 0 0 30px darkblue;
   
}

.join {
    padding-bottom: 30px; 
    text-shadow: 1px 1px 2px black, 0 0 60px blue, 0 0 30px darkblue;
}

/*------------   Footer   ------------*/

.footer{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    font-size: .75rem;
    align-items: baseline;
    margin-right: 0em;
    right: 0;
}

.footer img {
    width: 50px;
}

.footer ul {
    display: inline-flex;
    float: right;
}

.footer li {
    list-style: none;
    padding-left: 10px;
}